# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "Failure Modes"
# footer_title: >-
# Collection of how and why software systems fail :boom:
#description: >- # this means to ignore newlines until "baseurl:"
#  Collection of how and why software systems fail :boom:
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://failuremodes.dev" # the base hostname & protocol for your site, e.g. http://example.com
github_repo: electron0zero/failure-modes

google_analytics: UA-156554456-1
sitemap: true
show_excerpts: true

# pages linked on top header
# NOTE: items are rendered in the order here
header_pages:
 - pages/learn.md
 - pages/meetup.md
 - pages/about.md

highlighter: rouge
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false

# posts to /incidents/ url parmalink
# FIXME: find a better
permalink: /:title

# pagination config
paginate: 5
paginate_path: "/page:num/"
excerpt_separator: <!--more-->

# Build settings
theme: minima

plugins:
  - jemoji
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-seo-tag


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .idea/
