---
layout: default
title: Incidents
cover: false
---

<body>
    <h1>Welcome to Failure Modes</h1>

    <h2>What is Failure Modes?</h2>
    <p>
        Failure Modes is a community of software practitioners to discuss and share stories about failures in production systems.   
        We focus on understanding how systems fail and learning from those incidents.
 
        <p><a href="/about">About Failure Modes</a></p>
    </p>

    <h2>Failure Modes Meetups</h2>
    <p>
        We host exclusive, invite-only meetups in Bangalore, India, 
        providing a safe space to discuss failures under the <a href="https://en.wikipedia.org/wiki/Chatham_House_Rule" target="_blank">Chatham House Rule</a>.

        <p><a href="/meetup">Get meetup details</a></p>
    </p>

    <p>
        <h2>Next Meetup: Saturday, Aug. 24th, 2024, at 2:00 PM - 4:00 PM IST, Around Indiranagar, Bangalore.</h2>
        <p><a href="/meetup/#next-meetup">Get more details here</a></p>
    </p>

    <h2>Explore Incident Stories</h2>
    <p>
        Dive into real-world postmortems and insights from the community.
        <p><a href="/stories">View Stories</a></p>
    </p>

    <h2>Building Software Systems? Learn about </h2>
    <p>
        Explore our curated resources about building robust software systems.

        <p><a href="/learn">View Resources</a></p>
    </p>

    <h2>Contribute to Failure Modes</h2>
    <p>
        Have a story, postmortem, or resource to share? 
        <p><a href="https://github.com/electron0zero/failure-modes/issues/new" target="_blank">Submit it</a> to our collection.</p>
    </p>
</body>
</html>

<main id="content" class="content" role="main">
    {% for post in paginator.posts %}

    <h1>Recent Posts :arrow_down:</h1>

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>

            {% if post.categories.size > 0 %}
                <p>{{ post.categories | array_to_sentence_string | prepend: 'Categories: ' }}</p>
            {% endif %}

            {% if post.tags.size > 0 %}
                <p>{{ post.tags | array_to_sentence_string | prepend: 'Tags: ' }}</p>
            {% endif %}

            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.jpg" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}

        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&#8617;</a>
        </section>
        <footer class="post-meta">
        </footer>
        <br>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
