---
layout: default
title: Incidents
cover: false
---

<h1>Welcome to Failure Modes</h1>

<h3>What is Failure Modes? visit <a href="/about">/about</a></h3>
<h3>Want to learn about building resilient systems? visit <a href="/learn">/learn</a></h3>
<h3>When is next meetup? visit <a href="/meetup">/meetup</a></h3>

<br>
<br>

<h1>Checkout Incidents at <a href="/stories">/stories</a></h1>

<h3>Website update is under progress... /stories will move to home page soon</h3>

<main id="content" class="content" role="main">
    {% for post in paginator.posts %}

    <h1>Recent Incidents :arrow_down:</h1>

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>

            {% if post.categories.size > 0 %}
                <p>{{ post.categories | array_to_sentence_string | prepend: 'Categories: ' }}</p>
            {% endif %}

            {% if post.tags.size > 0 %}
                <p>{{ post.tags | array_to_sentence_string | prepend: 'Tags: ' }}</p>
            {% endif %}

            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.jpg" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}

        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&#8617;</a>
        </section>
        <footer class="post-meta">
        </footer>
        <br>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
