---
layout: default
---

<div class="home">

  <!-- show posts -->
  {%- if site.posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <span>{{ post.date | date: date_format }}</span>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

        <!-- FIXME: this doesn't work?? -->
        {% if page.tags.size > 0 %}
          {{ page.tags }}
        {% endif %}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <br>
</div>
